.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;

  &:nth-child(1) {
    gap: 0;
  }

  .cart {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    padding: 2rem 2rem 0 0;

    &__icon {
    }
    &__number {
      border-radius: 50%;
      height: 20px;
      width: 20px;
      font-size: 13px;
      font-weight: bolder;
      text-align: center;
      background-color: red;
    }
  }

  .categories {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color: #141414f0;
    padding: 1rem 0;
    margin-bottom: 1rem;

    .btn {
      border: 3px solid #585858;
      outline: none !important;

      &:hover {
        background-color: #dcdcdc;
        color: #2e2e2e;
        &:active,
        &:focus {
          color: beige;
        }
      }

      &.active {
        background-color: #585858;

        &:hover {
          color: beige;
        }
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2e2e2ef0;
    color: beige;
    gap: 0.25rem;
    padding-bottom: 0.5rem;
    border: 1px solid #585858;
    cursor: pointer;

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
      padding: 0;
    }

    h4 {
      padding-left: 1rem;
    }

    &__brand {
      text-align: center;
      font-size: larger;
    }

    &__image {
      width: 25rem;
    }

    &__price {
      text-align: center;
      padding: 0.25rem;
      margin-bottom: 0.5rem !important;
    }

    &__system {
      color: red;
      font-size: larger;
    }
  }
}
